//nexus-oss.apigateway.in:8081/repository/:_authToken=05801bfb-0640-3927-96bb-79f6baf976de
//nexus-oss.apigateway.in:8081/repository/npm-internal/:_authToken=05801bfb-0640-3927-96bb-79f6baf976de
@ib:registry=http://nexus-oss.apigateway.in:8081/repository/npm-internal
@ae:registry=http://nexus-oss.apigateway.in:8081/repository/npm-internal
